@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
}

:root {
    --banner:#0f27b1;
    --btn: rgb(224, 44, 109);
    --des: rgb(108, 108, 108);
    --color-title: rgb(16, 67, 122);
    --title-2: rgb(24, 25, 31);
    --title-1: rgb(255, 255, 255);
}

/* header style  */
header {
    background-color: var(--banner);
}

.size-container {
    width: 80%;
    margin: 0 auto;
}

nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(243, 12, 12);
    gap: 1.6rem;
    font-size: 0.8rem;
    margin: 0.51rem 0;
    color: var(--title-1);
}

.nav-btn {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid white; */
    padding: 0.4rem;
    background-color: var(--btn);
    color: var(--title-1);
    gap: 0.6rem;
    font-size: 0.81rem;
}
i.fa-solid {
    margin: 0.27rem;
}
.nav-btn {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid white; */
    background-color: var(--btn);
}
.mob-menu{
display: none;
}
/* banner style  */
section.banner {
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
}
.banner-text {
    border: 2px solid pink;
    color: var(--title-1);
    padding: 4rem 2rem;
}
h1.banner-title {
    font-size: 2.4rem;
    line-height: 3.9rem;
    margin-bottom: 1rem;
}
button.banner-btn {
    padding: 0.5rem 1rem;
    border: 0;
    color: var(--title-1);
}
.btn {
    background-color: var(--btn);
}
img.banner-img {
    width: 40vw;
}
/* albums style  */
.albums-main-box {
    border: 2px solid red;
    background-color: #f5f3f3eb;
    display: grid;
    margin: 3rem auto;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.3rem 0;
    width: 70%;
}
.albums-box {
    border: 2px solid black;
    background-color: white;
    width: 20vw;
    margin: 0 auto 0.7rem;
    box-shadow: 5px 7px 7px #8080806b;
}
.albums-text {
    border: 2px solid yellow;
    text-align: left;
    padding: 0.3rem 0.3rem 1rem;
}

h3.albums-title {
    font-size: 1rem;
}

p.albums-des {
    font-size: 0.5rem;
    color: var(--des);
}

.albums-img-box {
    text-align: center;
    margin-top: 0.3rem;
}
/* img style  */
.albums-image{
width: 19vw;
}
/* match style */
section.match-container {
    border: 2px solid red;
    text-align: center;
}
.match {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 0 auto; */
}
.match-text-container {
    border: 2px solid black;
    width: 30vw;
    margin: 2rem 0;
    text-align: left;
}
h1.match-title {
    font-size: 2rem;
    font-weight: 800;
}
.match-des-container {
    font-size: 0.81rem;
    margin: 1rem 0;
    color: var(--des);
}




img {
    width: 34vw;
}



/* Tablet style  */
@media screen and (min-width:576px) and (max-width: 892px) {
    .menu-text {
        /* border: 2px solid rgb(28, 71, 202); */
        gap: 1rem;
    }
    /* banner style  */
    section.banner{
     grid-template-columns: 1fr;
    }
/* text style  */
.banner-text {
    text-align: center;
        padding: 0 2rem 1rem;
}
h1.banner-title {
    font-size: 3.1rem;
}
    /* img style  */
    .bnner-img-container {
        border: 2px solid black;
        text-align: center;
    }
    /* album style  */
    .albums-main-box {
        border: 2px solid red;
        background-color: #f5f3f3eb;
        display: grid;
        margin: 3rem auto;
        grid-template-columns: repeat(2, 1fr);
        padding: 0.3rem 0;
        width: 60%;
    }
    .albums-box {
        width: 90%;
        margin-bottom: 0.7rem;
}
.albums-image {
    width: 26vw;
}


}




/* mobile style  */
@media screen and (max-width:576px) {
    .mob-menu{
        color: var(--title-1);
        display: inline-block;
    }
    .menu-text{
        display: none;
    }
        /* banner style  */
        section.banner{
            grid-template-columns: 1fr;
           }
           .banner-text {
            padding: 0 0 1rem;
        }
        /* text style  */
        h1.banner-title {
            font-size: 2rem;
            line-height: normal;
            margin-bottom: 1rem;
        }
/* img style  */
           img.banner-img {
            width: 78vw;
        }
/* album style  */
.albums-main-box {
    border: 2px solid red;
    background-color: #f5f3f3eb;
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
}
.albums-box {
    width: 94%;
    margin-bottom: 0.7rem;
}
.albums-image {
 width: 73vw;
}
h3.albums-title {
    font-size: 2rem;
}


p.albums-des {
    font-size: 0.8rem;
    color: var(--des);
    width: 53vw;
}

}